<div>
  <div appDroppable 
       [options]="{ accept: '.drag-me', autoScroll: true }"
       (dropping)="elementDropped($event)" 
       class="droppable-container">
    <div style="flex-grow: 1; margin-left: auto;">
      <button class="btn btn-primary btn-md" (click)="savePdf()">
        Download Document
      </button>
    </div>
    <div>
      <div>
        <button id="prev" class="btn btn-sm btn-secondary" (click)="onPrevPage()" #btnPrev>Previous</button>
        <button id="next" class="btn btn-sm btn-secondary" (click)="onNextPage()" #btnNext style="margin: 2px;">Next</button>
        &nbsp; &nbsp;
        <span>Page: <span id="page_num" #pageNum></span> / <span id="page_count" #pageCount></span></span>
      </div>
      <canvas id="pdf-canvas" #pdfcanvas></canvas>
    </div>
  </div>
</div>
