<div>
  <div appDroppable 
       [options]="{ accept: '.drag-me', autoScroll: true }"
       (dropping)="elementDropped($event)" 
       class="droppable-container">
    <div style="flex-grow: 1; margin-left: auto;">
      <div style="display: flex; justify-content: space-between; padding: 10px;">
        <div style="margin-right: 5px;">
          <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>

          <div class="file-upload">

            {{fileName || "No file uploaded yet."}}

              <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
                  <mat-icon>attach_file</mat-icon>
              </button>
          </div>
        </div>
        <button class="btn btn-primary btn-md" (click)="savePdf()">
          Download Document
        </button>
      </div>
    </div>
    <div>
      <div>
        <button id="prev" class="btn btn-sm btn-secondary" (click)="onPrevPage()" #btnPrev>Previous</button>
        <button id="next" class="btn btn-sm btn-secondary" (click)="onNextPage()" #btnNext style="margin: 2px;">Next</button>
        &nbsp; &nbsp;
        <span>Page: <span id="page_num" #pageNum></span> / <span id="page_count" #pageCount></span></span>
      </div>
      <canvas id="pdf-canvas" #pdfcanvas></canvas>
    </div>
  </div>
</div>
